h2{
    text-align: center;
    padding-top: 7rem;
    text-transform: capitalize;
}
/* img{
    height: 100%;
    width: 100%;
}
.home{
    background-image: url('../images/hdis.jpg');
    width: 100%;
    height: 100%;
} */
